@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.teachers{
    height: 1517px;
    display: flex;
    .Teachers_second-item{
        width: 100%;
        background-color: #d8edf7;
        padding: 50px;
        height: 100%;
        .teachersTitels{
            display: flex;
            justify-content: space-between;
            h1{
                font-family: 'Popins',sans-serif;
                color: #303972;
                font-weight: 700;
                font-size: 36px;
            }
            .round-balls{
                display: flex;
                gap: 20px;
                .round{
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 32px;
                }
                .round:last-child{
                    background-color: #C1BBEB;
                }
                .round-title{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 77px;
                    p{
                        font-family: 'Poppins';
                        font-weight: 600;
                        color: #303972;
                        font-size: 14px;
                    }
                    span{
                        font-family: 'Poppins',sans-serif;
                        font-size: 14px;
                        color: #A098AE;
                    }
                }
            }
        }
        .teacher__search-input{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 36px;
            .input{
                width: 350px;
                height: 60px;
                border-radius: 40px;
                background-color: #fff;
                display: flex;
                align-items: center;
                padding: 2px 32px;
                font-size: 32px;
                gap: 12px;
                input{
                    border: none;
                    outline: none;
                    font-size: 18px;
                }
            }
            button{
                width: 207px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
                font-weight: 700;
                background-color: #4D44B5;
                border: none;
                color: #fff;
                border-radius: 40px;
            }
        }
    }
}