@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Inspiration&family=Poppins:ital,wght@0,400;0,500;0,600;0,800;1,700&display=swap');


.container{
    margin: auto;
    max-width: 1980px;
    width: 100%;
}